<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  </h1>

</div>
<div class="container">
  <h2 class="col-md">Please Enter the Information for Risk Assessment: </h2>

<form [formGroup]="formData" (ngSubmit)="onSubmit()">
  <div><input class="form-control" type="text" placeholder="Institution Name" formControlName="institutionName"></div>

  <div><input class="form-control" type="text" placeholder="Creditor Account" formControlName="creditorAccount"></div>
  <div><input class="form-control" type="text" placeholder="Creditor Name" formControlName="creditorName"></div>
  <div><input class="form-control" type="number" placeholder="Amount" formControlName="amount"></div>
  <div><input class="form-control" type="text" placeholder="Debitor Account" formControlName="debitorAccount"></div>
  <div><button class="button" type="submit">Submit</button></div>
</form>
</div>
<ul>

</ul>

<router-outlet></router-outlet>
