<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  </h1>

</div>
<div class="container">
<h2 class="col-md">Please Enter the Information for Risk Assessment: </h2>
<input class="form-control" type="text" placeholder="Something" disabled>
    <div>
<input class="form-control" type="text" placeholder="Something" disabled>
    <div>
<input class="form-control" type="text" placeholder="Something" disabled>

</div>
<ul>

</ul>

<router-outlet></router-outlet>
