<div class="d-flex justify-content-center">
  <b>Genuineness Score :</b> {{overallScore}} ({{riskRecommendation}})
</div>
<hr>
<div class="d-flex justify-content-center">
  <h5>Rating Breakdown:</h5>
</div>
<table>
  <tr>
    <td><b>Swift Compliance :</b> {{swiftComplianceScore}}</td>
    <td><b>Swift Validation :</b> {{swiftValidationScore}}</td>
  </tr>
  <tr>
    <td><b>Internal Trx History :</b> {{internalTranHistScore}}</td>
    <td><b>Internal Compliance :</b> {{internalComplianceScore}}</td>
  </tr>
</table>

<hr>
<div class="d-flex justify-content-center">
  <h5>Rating Reasons:</h5>
</div>
<table>
  <tr>
    <td><b>Current Transaction Beneficiary Account :</b> {{currentTrxBen}}</td>
    <td><b>High Risk Countries :</b> {{internalComplianceHRBC}}</td>
  </tr>
  <tr>
      <td><b>Current Transaction Source Account :</b> {{currentTrxSrc}}</td>
      <td></td>
  </tr>
  <tr>
    <td><b>Current Transaction Amount :</b> {{currentTrxAmm}}</td>
    <td><b>Avg Transaction :</b> {{internalTranHistSATA}}</td>
  </tr>
  <tr>
    <td></td>
    <td><b>Total Transaction :</b> {{internalTranHistSTTA}}</td>
  </tr>
</table>

<hr>

<table>
  <tr>
    <td><b>Swift Beneficiary Account Verification :</b> {{swiftComplianceBAV}} </td>
    <td><b>Swift Beneficiary Account Format :</b> {{swiftValidationBAF}}</td>
  </tr>
  <tr>
    <td><b>Swift Source Account Verification :</b> {{swiftComplianceSAV}}</td>
    <td><b>Swift Source Account Format :</b> {{swiftValidationSAF}}</td>
  </tr>
</table>


<br>
<div class="d-flex justify-content-center" *ngIf="data.status=='REVIEW'">

  <button type="button" name="button" mat-button (click)=onApprove()>Approve Transaction</button>

</div>
